@media (max-width: 768px) {
    header nav{
        display: none;

    }
    header {
        height: 68px;
    }

    .fa-xmark {
        display: none;
    }

    #menu-hamburguer {
        display: flex;
        flex-direction: column;
        position: relative;
        backdrop-filter: blur(10px);
        z-index: 1 ; 
    }

    #menu-hamburguer ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        height: 100vh;

    }

    #menu-hamburguer ul li {
        padding: 30px;  
    }

    #menu-hamburguer ul li a {
        font-size: 1.5em;
        text-decoration: none;
        color: #fff;
    }
    #menu-hamburguer ul li a:hover {
        border-bottom:  #A410E3 2px solid;
      
      }

    #menu-hamburguer i{
        color: #A410E3;
        font-size: 2.2em;
        padding: 20px 20px 0px 20px;
        width: 50px;
        cursor: pointer;
        
    }

    main {
       flex-direction: column;
    }

    .text-main {
        width: 360px;
    }
    .text-main h1, h2 {
        font-size: 2em;
    }
    .text-main p {
        font-size: 1em;
    }

    .media-main{
        display: none;
    }

    .main-img img{
        bottom: 50px;
        left: 20px;
        width: 330px;
        height: 420px;
    }

    .about h1, .hab h1, .projt h1, .cont h1{
        font-size: 2em;
    }

    .about-info{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    
    } 

    .about-info p {
        font-size: 16px;
        width: 450px;
    }

    .about img {
        margin-top: 20px;
        width: 400px;
    }

    .hab-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }

    .hab p {
        font-size: 16px;
        width: 400px;
    }

    .hab i {
        font-size: 4em;
        color: #A410E3;
    }
    .icon-hab {
        margin-top: 20px;
        width: 400px;
    }

    .card-hab {
        margin: 15px;
        height: 110px;
        width: 150px; 
    }

    .card-projt {
        grid-template-columns: auto auto;
        width: 450px;
        row-gap: 10px;
    }


    .info-card {
        bottom: 70px;
    }

    .info-card h1{
        font-size: 1.1em;
        
    }

    .info-card i {
        font-size: 1.1em;
       
      }

    .projt img {
        width: 210px;
    }

    #meu-id9 {
        display: none;
    }

    .cont-info {
        flex-wrap: wrap;
    
    }
    
    .card-cont {
        width: 200px;
        height: 210px;
    }

    .card-cont i {
        font-size: 4em;
    }

    .card-cont p {
        font-size: 14px;
    }

    .card-cont span {
        font-size: 12px;
    }

    .sobre-projct {
        width: 100%;
    }

    .sobre-projct i {
        display: inline;
        top: 10px;
        left: 420px;
    }

    .info-pro {
        margin-top: 20px;
    }
    .sobre-projct h2 {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    .sobre-projct p {
        font-size: 14px;
    }

    .info-pro ul li {
        font-size: 14px;
      }

    .links .btn {
        padding: 10px 15px;
    }
    .links .btn a {
        font-size: 14px;
    }
    
}

@media (max-width: 425px) {

    .text-main h1, h2 {
        font-size: 1.8em;
    }

    .about-info p {
        width: 350px;
       
    }
    .about-info img{
       width: 300px;
    }

    .hab p {
        width: 350px;
    }

    .icon-hab {
        width: 370px;
    }

    .projt img {
        width: 150px;
    }

    .card-projt {
        width: 350px;
    }

    .info-card {
        bottom: 60px;
    }

    .card-cont {
        width: 180px;
        height: 200px;
        
    }


    .sobre-projct i {
        display: inline;
        top: 10px;
        left: 20px;
    }
    
}

